@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-150-percent {
    font-size: 150%;
  }
}
.ant-input-search {
  display: flex;
  flex-direction: row;
  width: 60vw;
}
:where(.css-dev-only-do-not-override-byeoj0).ant-input-search
  .ant-input-search-button {
  height: 2.6rem;
  padding: 0.75rem;
  background-color: #1677ff;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}
.price-tag {
  margin-top: 0.75rem;
  font-weight: 500;
  text-align: left;
}
.select-container.ant-form-item-control-wrapper {
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
.predicted-category {
  font-size: 1.25rem;
  font-weight: 700;
  background: -webkit-linear-gradient(
    135deg,
    #6bc5f8,
    #cf59e6,
    #6bc5f8,
    #cf59e6
  );
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}
